.item-pane {
    display: flex;
    -webkit-box-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    border-radius: 4px;
    padding-top: 30px;
    font-family: Quicksand, sans-serif;
}
.item-preview {
    margin-right: 26px;
    padding: 26px;
}
.pane__section {
    padding-top: 26px;
}
.pane__section:not(:last-child) {
    padding-bottom: 26px;
    border-bottom: 1px solid #d4d4d4;
}
h1,
.item-price {
    font-family: "Roboto Slab", Roboto, sans-serif;
    font-weight: 400;
    font-size: 2em;
}
h1 {
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}
.subtitle {
    font-family: "Roboto Slab", Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}
a {
    color: #0db5db;
}
.item-price__units {
    font-weight: 300;
}
p {
    line-height: 1.4;
}
.button {
    padding: 0.6em 1em;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background: #80db65;
    border-radius: 3px;
}
.button:hover {
    background: #5ed13c;
}
dl {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    line-height: 1.8em;
    margin: -0.4em 0;
}
dt,
dd {
    display: inline;
}
dt {
    font-weight: 500;
}
dt:after {
    content: ":";
}
dd:after {
    content: "";
    display: block;
}
.buy-button {
    float: right;
}
.book{
    position: relative;
    width: 216px;
    height: 322px;
    -webkit-transform: rotateX(-15deg) rotateY(30deg);
    transform: rotateX(-15deg) rotateY(30deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.book:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 35px;
    height: 95%;
    background: #f0c0af;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}
.book:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 35px;
    background: #f5efdc;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
}
.book:hover {
    -webkit-transform: rotateX(-10deg) rotateY(20deg);
    transform: rotateX(-10deg) rotateY(20deg);
}
.book__title {
    margin-bottom: 1em;
    font-weight: 700;
}
.book__text {
    font-family: Roboto, serif;
    background: #e9d1c5;
    padding: 20px;
    color: #563323;
}
.subtitle {
    font-family: "Roboto Slab", Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}
.item-details {
    padding-right: 2em;
}
.renting-days {
    padding-left:  26px;
}
button.btn.btn-secondary {
    margin-bottom: 20px;
}
.renting-days {
    margin-left: -15px
} 
.box {
    margin: 25px 0;
    width:  150px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin-left:  -10px;
}
.box label {
    font-size: 18px;
    color: #4d4d4d;
    position: absolute;
    z-index: 10;
    padding-left: 30px;
    cursor: pointer;
    padding-top: 10px;
}   
.box input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.box input:checked ~ .check {
    border-color: #00ea90;
    box-shadow: 0px 0px 0px 15px #00ea90 inset;
}
.box input:checked ~ .check::after {
    opacity: 1;
    transform: scale(1);
}
.box .check {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100px;
    background-color: #fff;
    border: 2px solid #00ea90;
    box-shadow: 0px 0px 0px 0px #00ea90 inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}
.box .check::after {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
    position: absolute;
    transform: scale(0);
    background-size: 50%;
    background-image: url("http://s6.picofile.com/d/8392306668/c38c12a0-6db3-47d4-a80c-7dad8fab5186/checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition-delay: 0.2s !important;
    transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}